<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgDhWediXOZR3ajLLHhWyxoQ8eOQOm5tk</string>
	<key>GCM_SENDER_ID</key>
	<string>307822648980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeTest</string>
	<key>PROJECT_ID</key>
	<string>chat-app-5b64d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-5b64d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307822648980:ios:546c022eaa0e16e1555e81</string>
</dict>
</plist>